<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/public/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/public/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/public/imgs/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/public/imgs/favicon.ico">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/base-minimal.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/global-header.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/language-switcher.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/menu.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/mega-menu.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/mobile-nav.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/breadcrumbs.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/newsletter-signup.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/footer.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/menu-overflow.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/page-hero.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/templates/generic-page.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/country-site-header.min.css">

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <title>Accelerator Labs - R&D Dashboard </title>

  </head>
  <body>

    <div class="generic-page">
      <!-- START HEARDER -->
      <header class="country-header country-load-animation run-animation">
        <section class="header">
          <div class="grid-container fluid">
            <div class="grid-x grid-margin-x align-content-middle">
              <div class="cell small-6 large-6 shrink align-self-middle top-left">
                <a href="{{ site.baseurl }}/" class="logo" tabindex="0" title="UNDP Logo homepage link">
                  <img
                    src="{{ site.baseurl }}/public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png"
                    style="max-width: 30%; height: auto; margin-right: 1em;"
                    alt="UNDP Logo"
                  />
                </a>
                <div class="site-title" style="padding-left: 10em">
                  <span><a href="#" title="UNDP homepage link">Accelerator Labs</a></span>
                  <span><a href="#" title="UNDP homepage link">R&D Dashboard</a></span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- END HEADER -->

       
        
        <div class="grid-container fluid content-bottom">
          <div class="grid-x margin-top-72">
            
            <!-- BEGIN PAGE CONTENT -->
            <div class="cell large-1  generic-content"></div>
            <div class="cell large-10 small-12 generic-content">
              <div class="grid-x">
                <div class="markdown-body">

                  <!-- START BREADCRUMBS NAV -->
                  {% include corporate/breadcrumbs.html %}
                  <!-- END BREADCRUMBS NAV -->
                  <div id="content">
                    {{ content }}
                  </div>

                </div>
              </div>
            </div>
            <div class="cell large-1  generic-content"></div>
            <!-- END PAGE CONTENT -->

          </div>
        </div>

        <!-- BEGIN PAGE FOOTER -->
        {% include corporate/footer.html %}
      </div>      


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/animation.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/navigation.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/undp.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/accordion.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/viewport.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/sidebar.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/lang-switcher.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/scrolling-progressbar.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/swiper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/expand-search.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/filter-search-bar.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/multi-select.min.js"></script>
 
    <script>
    $(document).ready(function(){
      navigationInitialize();
      navigationOverFlow();
      navigationMultiLevelEdgeDetection();

      accordion();

    });
    </script>


<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Load the JSON data for Samkey diagram
  var data = {{ site.data.sankey_data | jsonify }};

  // Load the JSON data for Stacked bar chart
  var data_stacked_bar = {{ site.data.stacked_bar_data | jsonify }};

  var data_stacked_bar_category = {{ site.data.stacked_bar_chart_category_data | jsonify }};

  // Load the JSON data for Gauge meters
  const data_gauge_chart = {{ site.data.gauge_chart_data | jsonify }};
</script>

<script src="{{ '/assets/js/rd_dashboard.js.liquid' | relative_url }}"></script>
  
</body>
</html>